{% extends 'base.html' %}

{% load static %}

{% block page %}
<div class="pusher">
    <div class="full height">
        <div class="main ui container">

            <div class="ui vertical stripe intro segment">
                <div class="ui stackable very relaxed center aligned grid container">
                    <div class="ui masthead vertical segment">
                        <h2 class="ui header">About Me<a class="anchor" id="content"></a></h2>
                    </div>
                </div>
            </div>

            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="five wide left floated column">
                        <img src="{{ Photo.url }}" alt="{{ Name }}" class="ui medium bordered rounded image">
                    </div>
                    <div class="eleven wide column">
                        {{ Introduction|safe }}
                    </div>
                </div>
            </div>

            <div class="ui vertical stripe intro segment">
                <div class="ui stackable very relaxed center aligned grid container">
                    <div class="ui masthead vertical segment">
                        <h2 class="ui header">Projects<a class="anchor" id="content"></a></h2>
                    </div>
                </div>
            </div>

            <div class="ui divided link items">
                {% for item in Publications %}
                <div class="item">
                    <div class="image">
                        <img src="{% static item.teaser.url %}">
                    </div>
                    <div class="content">
                        <a class="header">{{ item.name }}</a>
                        <div class="meta">
                            <span>{{ item.introduction }}</span>
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                        <div class="extra">
                            {{ item.addinfo }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}